<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg4.be.update.mapper.UpdateMapper">

<select id="finish_deli">
	UPDATE product
	SET finish_time = to_date(#{time}, 'YY/MM/DD HH24:MI') 
	WHERE post_num = #{post} AND finish_time IS NULL
</select>

<select id="get_deli">
	UPDATE product 
	SET get_time = to_date(#{time}, 'YY/MM/DD HH24:MI'), p_receive = '1' 
	WHERE post_num = #{post} AND get_time IS NULL 
</select>

<select id="returnProduct">
	UPDATE product 
	SET p_return = '1' 
	WHERE post_num = #{post} AND get_time IS NULL
</select>

<select id="msgProduct">
	UPDATE product
	SET MSG = '1'
	WHERE post_num = #{post} 
</select>


</mapper>