<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg4.be.member.mapper.MemberMapper">

    <select id="findMemberByIdAndPw" parameterType="com.ssg4.be.member.model.LoginDto"
            resultType="com.ssg4.be.member.model.MemberVo">
        SELECT MNO
            , ID
            , PW
            , NAME
            , MEMBER_TYPE
            , NICKNAME
            , TEL
        FROM MEMBER
        WHERE ID = #{id}
          AND PW = #{pw}
    </select>

</mapper>