<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg4.be.qr.mapper.QrMapper">

    <select id="findQrCntByDno" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*) CNT
        FROM QR_FILE
        WHERE DNO = ${dno}
    </select>
    
    <select id="findFilePathByFno" parameterType="Integer" resultType="String">
        SELECT FILE_PATH
		FROM QR_FILE
		WHERE FNO = ${fno}
    </select>
    
    <insert id="insertQrFile" parameterType="com.ssg4.be.qr.model.QrFileVO">
    	INSERT INTO QR_FILE (
    		FNO, 
    		FILE_PATH, 
    		DNO
    	) VALUES (
    		QR_FILE_SEQ.NEXTVAL
    		, #{filePath}
    		, ${dno}
    	)
    </insert>

</mapper>